<footer>
    <div class="flex-container-center-no-margin">
        <div class="flex-container-horizontal">
            <img class="logo" src="public/image/logo-big.png">
        </div>
    </div>
    <div class="flex-container-center-no-margin">
        <div class="flex-container-horizontal">
            <a href="/">Home</a>
            <a href="/rules">Rules</a>
            <a href="404">FAQ</a>
            <a href="404">Join us</a>
            <a href="https://discord.gg/7R5wVVTqgY">Discord Server</a>
        </div>
    </div>
    <div class="flex-container-center-no-margin">
        <div class="flex-container-horizontal">
            <p class="footer-copyright">© 2025 Blocky Alleys Authors. All Rights Reserved</p>
        </div>
    </div>            
</footer>