<nav class="topnav">
    <img class="logo" src="public/image/logo-big.png" alt="server logo">
    <div class="topnav-right">
        <a href="/rules">Rules</a>
        <a href="/faq">FAQ</a>
        <a href="https://discord.gg/7R5wVVTqgY">Discord Server</a>
        <a href="/404/">Screenshots</a>

        <button class="copy-button" id="copy-url-button" onmouseleave="resetCopyButton()" onclick="copyServerLink()">
            <span>mc.blockyalleys.com</span>
            
            <span id="click-to-copy-text">Click to copy</span>                    
        </button>
        
    </div>
</nav>

<script>
        function copyServerLink() {
        try {
            navigator.clipboard.writeText("mc.blockyalleys.com");
            document.getElementById('click-to-copy-text').innerHTML = "Copied!";
        } catch (error) {
            alert(error);
        }
    }

    function resetCopyButton() {
        setTimeout(function() {
            document.getElementById('click-to-copy-text').innerHTML = "Click to copy";  
        }, 200);
    }
</script>