.tower-image {
    margin-top: 1.5rem;
    min-width: 10rem;
    max-width: 7%;
}
.top-section{
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }


.paragraph-under-category-title {
    text-align: center;
    margin-top: -1rem;
}
  

.top-section li {
    font-size: min(2.2vw, 1.0rem);
    font-family: "Inter", serif;
    margin-top: 0.7rem;
}

.general-rules {
    margin-top: -4.5rem;
}

.rule-section-title {
    margin-top: 2rem;
}


.dotless-ul {
    list-style: none;
}

.dotless-ul p {
    font-size: min(2.2vw, 1.0rem);
    font-family: "Inter", serif;
    margin-top: 0.7rem;
}

.last-text {
    margin-top: 3rem;
    text-align: center;
  }