@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    /*background: linear-gradient(180deg, rgba(19,12,47,1) 0%, rgba(15,11,34,1) 100%); */
    background-color: rgb(16,11,37);
    font-family: "Inter", serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 46px;
}

.flex-container-center {
    display: flex;
     align-items: center;
    justify-content: center;
  }

@media screen and (max-width: 750px) {
  /* set column1 and column2 to 50% width each */
      .flex-container-center {
        flex-direction: column-reverse;
        
      }
  }

.horizontal-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }