<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocky Alleys</title>
    <link rel="icon" type="image/x-icon" href="public/image/favicon.png">
    <link rel="stylesheet" type="text/css" href="public/stylesheet/shared.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheet/copy-button.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheet/check-out-more-screenshots-arrow.css">    
    <link rel="stylesheet" type="text/css" href="public/stylesheet/sidebar.css"> 
    <link rel="stylesheet" type="text/css" href="public/stylesheet/screenshot-section.css"> 
    <script src="https://unpkg.com/scrollreveal"></script>



    
<body>
    

    <%- include('partials/sidebar')  %>
    
    <main>

        <%- include('partials/top-nav')  %>       

        <section class="joinUs-section">
            <div class="flex-container-center">
                <div>
                    <h1>Join our chill <br/> Minecraft server</h1> 
                    <button class="joinUs-button">Join us</button>
                </div>                         
                <img class="minecraft-store-img" src="./public/image/minecraft_store.png">
            </div>
        </section>


        <section>
            <div class="flex-container-center">
                <img class="minecraft-well-img" src="./public/image/minecraft_well.png">
                <div>
                    <h2 class="who-are-we-title">Who are we?</h2>
                    <p class="who-are-we-paragraph">
                        We are a chill Minecraft community that plays to relax and have fun. We explore, build and help each other out.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <div class="flex-container-center-no-margin">
                <h2 class="screenshot-title">Screenshots</h2>                
            </div>
            <div class="screenshots-paragraph-container">
                <p>Check out what we have built!</p>               
            </div>            
            <div>
                <div class="flex-container-center-screenshots-top">
                    <img class="screenshot1" src="public/image/screenshot1.png">
                    <img class="screenshot2" src="public/image/screenshot2.png">
                    <img class="screenshot3" src="public/image/screenshot3.png">
                </div>
                <div class="flex-container-center-screenshots-bottom">
                    <img class="screenshot4" src="public/image/screenshot4.png">
                    <img class="screenshot5" src="public/image/screenshot5.png">
                    <img class="screenshot6" src="public/image/screenshot6.png">
                </div>
            </div>
            <div style="opacity: 0; fix this later" class="flex-container-center">
                <div class="check-out-more-screenshots-arrow" >
                    <p>Check out more</p>
                    <p>-></p>
                </div>
            </div>
        </section>
    
        <%- include('partials/footer')  %>


    </main>
    
   <script>

    ScrollReveal().reveal('.minecraft-well-img', { viewOffset: {bottom: 190}, dsitance: '40px', delay: 20  });
    ScrollReveal().reveal('.who-are-we-title', { viewOffset: {bottom: 60}, dsitance: '40px', delay: 60  });
    ScrollReveal().reveal('.who-are-we-paragraph', { viewOffset: {bottom: 10}, dsitance: '40px', delay: 110  });

    ScrollReveal().reveal('.screenshot-title', { viewOffset: {bottom: 80}, dsitance: '400px', delay: 0 });
    ScrollReveal().reveal('.screenshots-paragraph-container', { viewOffset: {bottom: 80}, dsitance: '450px', delay: 0 });

    ScrollReveal().reveal('.screenshot1', { viewOffset: {bottom: 80}, dsitance: '500px', delay: 20 });
    ScrollReveal().reveal('.screenshot2', { viewOffset: {bottom: 80}, dsitance: '500px', delay: 80 });
    ScrollReveal().reveal('.screenshot3', { viewOffset: {bottom: 80}, dsitance: '500px', delay: 160 });
    ScrollReveal().reveal('.screenshot4', { viewOffset: {bottom: 10}, dsitance: '500px', delay: 220 });
    ScrollReveal().reveal('.screenshot5', { viewOffset: {bottom: 10}, dsitance: '500px', delay: 280 });
    ScrollReveal().reveal('.screenshot6', { viewOffset: {bottom: 10}, dsitance: '500px', delay: 360 });
   </script>

</body>



</html>